* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  font-family: "Unica One", cursive;
}

.date {
  font-weight: bold !important;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

article {
  position: relative;
  width: 250px;
  transition: all 0.3s ease;
}

article img {
  box-shadow: 0 60px 60px -60px rgba(223, 41, 53, 0.5);
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
}

.react-multi-carousel-list {
  height: 30em;
}

.react-multi-carousel-track {
  align-items: center;
}

.react-multi-carousel-dot--active button {
  background: #df2935 !important;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
  }
}
